body {
    font-family: monospace;
    background-color: #c795ec;
    background-color: #c795ec;
}

.timer {
    position: relative;
    padding: 100px;
    font-family: monospace;
}

button {
    font-family: monospace;
    font-size: 16;
    background-color: rgb(239, 255, 99);
    margin: 8px;
    position: relative;
    border-radius: 50%;
    border: 1px;
    color: #000000
}

button:hover {
    color: #505050
}

header {
    position: relative;
    color: #ffffff;
    padding: 0;
    font-family: monospace;
}

header h2 {
    padding: 0 100px 0 100px;
    text-align: left;
    font-size: 24;
    font-family: monospace;
    color: white
    color: white
}

nav ul {
    margin: 0;
    padding: 0 100px 0 100px;
    display: inline;
    
}

nav ul li {
    background-color:rgb(239, 255, 99);
    text-align: left;
    display: inline-block;
    border-radius: 50%;
    border: 1;
    list-style-type: disc;
    padding: 5px 10px;
    margin: 0;
    font-family: monospace;
    

}

h2 {

    color: #ffffff;
    font-size: 24px;
    font-family: monospace;

}

li {
    color: #000000;
    
}

p {
    color: rgb(255, 255, 255);
    padding: 10px 8px;
    font-size: 12px;
    text-align: center;

}

.link, ul {
    background: none;
    color: #000000;
}

.link:hover {
    color: #ffffff;
}

header p {
    padding: 0, 500px;
}

*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;

}

#js_timer {
    text-align: center;
    padding: 150px;
}

#js_pomodoro {
    text-align: center;
    padding: 150px;
}

#js_pomodoro {
    text-align: center;
    padding: 150px;
}

#js_pomodoro {
    text-align: center;
    padding: 150px;
}

#timer {
    padding: 100, 50, 0, 50;
    margin: 50px auto;
    font-size: 48px;
    text-align: center;
    font-family: monospace;
    color: #ffffff
}


#pomodoro {
    padding: 100, 50, 0, 50;
    margin: 50px auto;
    font-size: 48px;
    text-align: center;
    font-family: monospace;
    color: #ffffff
}

#statusPomodoro {
    padding: 0;
    font-size: 16px;
    font-family: monospace;
    color: #ffffff

}

.quotes {
    position: relative;
    padding: 600 0 0 0;
}

th {
    color: white
}

td {
    color: white
}